<template name="postCreator">
  {{#unless _ 'isEqual' currentClass 'all'}}
    <form id="postCreator">
      <textarea name="postText" placeholder="Comparte un mensaje, enlace o archivo con el resto de la clase..."></textarea>
      <div class="actions">
        <a href="#" class="action">
          <span class="glyphicon glyphicon-paperclip"></span>
          <label>Adjuntar archivo</label>
        </a>
        <div class="pull-right">
          <button type="submit" class="cb-btn cb-btn-green">Publicar</button>
        </div>
      </div>
    </form>
  {{/unless}}
</template>