<template name="postCreator">
  <form id="postCreator">
    <textarea name="postText" placeholder="Comparte un apunte, enlace o archivo con el resto de la clase..."></textarea>
    <div class="actions">
      <a href="#" class="action">
        <span class="glyphicon glyphicon-paperclip"></span>
        <label>Adjuntar archivo</label>
      </a>
      <div class="pull-right">
        {{#unless _ 'isEqual' currentClass 'all'}}
          <button type="submit" class="cb-btn cb-btn-green">Publicar apunte</button>
        {{else}}
          <button title="Para publicar un apunte, primero elige una clase." type="submit" disabled class="has-tooltip cb-btn cb-btn-greyed">Elige una clase...</button>
        {{/unless}}
      </div>
    </div>
  </form>
</template>