#postCreator {

  textarea {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 3px 3px 0 0;
    padding: 15px 20px;
    outline: none;
    font-size: 20px;
    font-weight: 300;
    margin: 0;
    display: block;

    &:hover { border-color: #bbb; }
    &:focus { border-color: #16A085; }
  }

  .actions {
    background-color: #eee;
    height: 60px;
    padding: 12px 15px;
    border: 1px solid #ddd;
    border-top: 0;
    border-radius: 0 0 3px 3px;

    button[type="submit"] {
      height: 34px;
      line-height: 32px;
    }
  }

}