<template name="classPrompt">
  <div class="container-fluid">
    <h3 class="cb-modal-title">¡Bienvenido, {{firstWord currentUser.profile.name}}!</h3>
    {{#if _ "isEqual" currentUser.profile.userType "teacher"}}
      <div>Para comenzar, debes crear tu primera clase.</div>
      <br>
      <form class="cb-form" id="createClass" style="width: 400px;">
        <div class="cb-input-control">
          <input type="text" class="input-text" name="classTitle" placeholder="Nombre de la asignatura">
        </div>
        <div class="cb-input-control">
          <div class="cb-input-date">
            <input type="text" class="input-text" name="classStartDate" readonly placeholder="Inicio de clases">
          </div>
          <div class="cb-input-date">
            <input type="text" class="input-text" name="classEndDate" readonly placeholder="Término de clases">
          </div>
        </div>
        <button type="submit" class="cb-btn cb-btn-green">Crear clase</button>
      </form>
    {{/if}}
    {{#if _ "isEqual" currentUser.profile.userType "student"}}
      <div>Para comenzar, ingresa el código de clase entregado por tu Profesor. <a href="#">¿No tienes uno?</a></div><br>
    {{/if}}
  </div>
</template>