<template name="dayModal">
  <div class="modal fade" id="dayModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div class="day-header">
            <a class="day-switcher" href="#" id="previous-day"><i class="fa fa-angle-left"></i></a>
            <div class="current-day">
              <div>{{#with currentDay}} <em>{{day}}</em> {{month}} <span class="year">{{year}}</span> {{/with}} <i class="fa fa-caret-down"></i></div>
              <input type="text" id="currentDayPicker">
            </div>
            <a class="day-switcher" href="#" id="next-day"><i class="fa fa-angle-right"></i></a>
          </div>
          <div class="day-events">
            {{#if dayEvents}}
              {{#each dayEvents}}
                <div class="event">
                  {{title}}
                </div>
              {{/each}}
            {{else}}
              <div class="no-events">No hay nada programado para este día aún.</div>
            {{/if}}
          </div>
        </div>
      </div>
      <div class="modal-content add-event">
        <div class="modal-body">
          <form id="addEvent">
            <div class="form-fields">
              <div class="event-type">
                <label for="eventType">Quiero agendar...</label>
                <div id="eventTypePicker" class="btn-group cb-dropdown-group">
                  <button type="button" class="btn dropdown-toggle empty" data-toggle="dropdown">
                    <div class="empty-option">una prueba, trabajo, disertación...</div>
                    <div class="current-option"></div>
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li data-event-type="test"><a href="#">una prueba</a></li>
                    <li data-event-type="exam"><a href="#">un examen</a></li>
                    <li data-event-type="presentation"><a href="#">una disertación</a></li>
                    <li data-event-type="group"><a href="#">un trabajo grupal</a></li>
                    <li data-event-type="in-class"><a href="#">un trabajo en clase</a></li>
                  </ul>
                </div>
              </div>
              <input name="eventTitle" type="text" placeholder="Dale un título simple y conciso a tu actividad.">
              <textarea name="eventDescription" placeholder="Describe brevemente la actividad que se llevará a cabo y los contenidos relevantes para desarrollarla." rows="3"></textarea>
            </div>
            {{#unless _ 'isEqual' currentClass 'all'}}
              <button type="submit" class="cb-btn cb-btn-green">Agendar actividad</button>
            {{else}}
              <button type="submit" disabled class="cb-btn cb-btn-greyed">Elige una clase...</button>
            {{/unless}}
          </form>
        </div>
      </div>
    </div>
  </div>
</template>