<template name="dayModal">
  <div class="modal fade" id="dayModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title">Cambiar de clase</h4>
        </div>
        <div class="modal-body">
          <ul class="classes-list">
            <li class="overview {{#if _ 'isEqual' currentClass 'all'}}active{{/if}}" data-class-id="all">
              <div class="title">Todas mis clases</div>
            </li>
            {{#each myClasses}}
              <li class="{{#if _ 'isEqual' currentClass _id}}active{{/if}}" data-class-id="{{_id}}">
                <span class="class-label class-label-{{classColor}}">{{classCode}}</span>
                <div class="title">{{title}}</div>
              </li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>