<template name="calendar">
  {{> dayModal}}
  <div id="calendar">
    <div class="calendar-head">
      <div class="container">
        <div class="pull-right buttons-container">
          <button class="cb-btn-o">
            <span>Añadir actividad</span>
            <i class="fa fa-plus"></i>
          </button>
        </div>
        <div class="month-picker">
          <i id="prev-month" class="month-switcher fa fa-angle-left"></i>
          <i id="next-month" class="month-switcher fa fa-angle-right"></i>
        </div>
        {{#with currentMonth}}
          <div class="current-month {{#if currentMonth.isCurrentMonth}}active{{/if}}">{{currentMonth.month}}</div>
        {{/with}}
      </div>
    </div>
    <div class="weekdays">
      <div class="day">Lunes</div>
      <div class="day">Martes</div>
      <div class="day">Miércoles</div>
      <div class="day">Jueves</div>
      <div class="day">Viernes</div>
      <div class="day">Sábado</div>
      <div class="day">Domingo</div>
    </div>
    <div class="days-container">
      {{#with month}}
        {{#each pastDays}}
          <div class="day filler"></div>
        {{/each}}
        {{#each days}}
          <div data-day="{{fullDay}}" class="day {{#if isToday}}today{{/if}}">
            <div class="day-number">{{day}}</div>
            <div class="day-events">
              {{#each dayEvents}}
                <div class="event">
                  {{#with getClass classId}}
                    <div class="class">
                      <div class="class-label class-label-{{classColor}}">{{classCode}}</div>
                      <div class="class-name class-label-alt-{{classColor}}">{{title}}</div>
                    </div>
                  {{/with}}
                  <div class="title">{{title}}</div>
                </div>
              {{/each}}
            </div>
          </div>
        {{/each}}
        {{#each nextDays}}
          <div class="day filler">{{day}}</div>
        {{/each}}
      {{/with}}
    </div>
  </div>
</template>