#cb-header {
  // border-top: 4px solid #08A87B;
  padding: 20px 0;

  #class-picker {
    #classSwitcher {
      li.class-item {
        a {
          padding-right: 90px;

          .class-label {
            position: absolute;
            right: 12px;
            top: 7px;
            margin-right: 0;
          }
        }
      }
    }
  }
  

  .user {
    font-weight: bold;

    .teacher-label {
      color: #FFA631;
    }

    .caret {
      position: relative;
      top: -1px;
      margin-left: 5px;
    }

    img {
      height: 26px;
      margin-top: -10px;
      margin-right: 5px;
      position: relative;
      top: 3px;
      border-radius: 50%;
    }
  }

  .navbar-brand {
    color: #08A87B;
    width: 56px;
    height: 56px;
    border: 2px solid #08A87B;
    border-radius: 50%;
    line-height: 58px;
    padding: 0;
    text-align: center;
    position: relative;
    top: -3px;
    margin-right: 15px;
    margin-left: -2px;

    .fa {
      font-size: 22px;
    }
  }

  ul.main-nav {
    li {
      a {
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        font-family: 'Montserrat';
      }

      &:hover {
        a {
          background-color: transparent;
          color: #999;
        }
      }

      &.active {
        a { 
          color: #08A87B;
          position: relative;

          // &:after {
          //   content: "";
          //   width: ~"calc(100% - 34px)";
          //   height: 2px;
          //   background-color: #08A87B;
          //   display: block;
          //   position: absolute;
          //   bottom: 10px;
          //   left: 17px;
          // }
        }
      }
    }
  }

  ul.nav {
    li a {
      color: #555;
    }

    li.cb-dropdown {
      &.open {
        > a, > a:hover, > a:focus {
          background-color: white;
          box-shadow: 0px 0px 10px rgba(0,0,0,.1);
        }
      }

      .dropdown-toggle {
        &:hover {
          background-color: #E7E7E7;
        }
      }
    }
  }
}